{% sw_extends '@SwagTrainig/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_inner_container %}
    <footer class="w-full py-16 bg-gray-100">
        <div class="md:px-12 lg:px-28">
            <div class="container m-auto space-y-6 text-gray-600">
                {% block layout_header_logo_image %}
                    <picture>

                        {% block layout_header_logo_image_default %}
                            {% if theme_config('sw-logo-desktop') %}
                                <img
                                    src="{{ theme_config('sw-logo-desktop') |sw_encode_url }}"
                                    alt="{{ "header.logoLink"|trans|striptags }}"
                                    class="w-40 m-auto"/>
                            {% endif %}
                        {% endblock %}
                    </picture>
                {% endblock %}

                {% set categories = page.header.navigation.tree %}


                <ul role="list" class="py-4 flex flex-col gap-4 items-center justify-center sm:flex-row sm:gap-8">

                    {% for treeItem in categories %}
                        {% set category = treeItem.category %}

                        {% set name = category.translated.name %}

                        <li role="listitem">
                            <a
                                title="{{ name }}"
                                href="{{ category_url(category) }}"
                                class="hover:text-cyan-500"
                                >
                                {{ name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                {% block layout_footer_copyright %}
                    <div class="text-center">
                        <span class="text-sm tracking-wide">
                            {% sw_icon 'shopware' style {'size':'xs'} %}
                            {{ "footer.copyrightInfo"|trans|sw_sanitize }}
                        </span>
                    </div>
                {% endblock %}
            </div>
        </div>
    </footer>
{% endblock %}

